.StartButton {
    font-size: 50px;
    color: #17434e;
    text-decoration: none;
    padding: 8px 15px;
    margin-top: 10px;
}

.button {
    color: #153841;
    text-decoration: none;
    background-color: rgb(225, 236, 236);
    border: 1px solid rgb(155, 187, 187);
    border-radius: 25px;
    padding: 8px 15px;
}

.button:hover, .button:focus, .button:active {
    background-color: rgb(165, 179, 179);
}

.message {
    text-align: center;
    margin-top: 15%;
    margin-left: 35%;
    display: inline-block;
    font-size: 18px;
}

.Finish {
    text-align: center;
    font-size: 25px;
    margin-top: 20%;
}